<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctionapp3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b2a35ed1-9441-4471-a3a2-39f19b2cbc56/resourceGroups/ODL-serverless-architecture-82827/providers/Microsoft.Web/sites/TollBoothFunctionApp3</ResourceId>
    <UserName>$TollBoothFunctionApp3</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctionapp3.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>